.classificationSelect {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
}

.classificationSelect li {
  margin:0 5px 0 0;
  width:100px;
  height:40px;
  position:relative;
}

.classificationSelect label, .classificationSelect input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.classificationSelect input[type="radio"] {
  opacity:0.011;
  z-index:100;
}

.classificationSelect input[type="radio"]:checked + label {
  background:yellow;
}

.classificationSelect label {
  padding:5px;
  border:1px solid #CCC;
  cursor:pointer;
  z-index:90;
}

.classificationSelect label:hover {
  background:#DDD;
}
